<div class="container__menu-bar">
  <ul>
    <li>
      <span><i class="fa-brands fa-linkedin-in" style="color: #edecee;"></i></span>
    </li>

    <li><a href="https://www.linkedin.com/in/lucineia-r-silva-frontend/" target="_blank">Linkedin</a></li>
    <li>
      <span><i class="fa-brands fa-github" style="color: #efeff1;"></i></span>
    </li>
    <li><a href="https://github.com/LucineiaSilvah" target="_blank">GitHub</a></li>
    <li>
      <span><i class="fa-solid fa-briefcase" style="color: #f0f0f0;"></i></span>
    </li>
    <li><a href="https://portifolio-lsv2.netlify.app/"
      target="_blank">Portifólio</a></li>
  </ul>
</div>
