<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <!--esse photoCover esta semvo inputado nao bigcard, esta aqui pq quem chama ele eh o compnente home-->
    <app-big-card
    Id="1"
    photoCover="https://wallpapercave.com/wp/wp2237183.jpg"

    cardDescription=" Um Ninja Assassino que possue habilidades de controlar o gelo..."

    cardTitle=" Sub-zero"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    Id="2"
    title="Scorpion"
    photoCover="https://wallpapercave.com/uwp/uwp3648822.jpeg"
   description="Um Ninja que busca vingança "

    ></app-small-card>
    <app-small-card
    Id="3"
    title="Cyrax"
    photoCover="https://wallpapercave.com/wp/wp6674594.jpg"
   description="Um ninja cibernético programado para rastrear e matar um membro do Clã Lin Kuei..."

    ></app-small-card>
    <app-small-card
    title="Milena"
    Id="4"
    photoCover="https://wallpapercave.com/wp/wp13373450.jpg"
    description="texto sobre milena"
    ></app-small-card>
  </div>
</div>
