.container__small-card
{
  display: flex;
  width: 300px;
  margin: 10px 0;
  align-items: center;
  border-left: 1px solid #f20104;
  padding: 10px 10px 30px ;
  width: 500px;
  box-shadow: 1px 2px 4px  #f20104;
  background: rgba(0,0,0,0.7);

}
.photo__small-card > img{
  width: 150px;
 margin-right: 10px;
}

.content__small-card > h1{
 font-size: 15px;
 color: gray;
 margin: 10px 0;
}

@media screen and (max-width:468px) {
 .container__small-card{
   flex-direction: column;
   width: 250px;
 }
}
